<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <ng-container *ngFor="let column of columns">
          <ng-container *ngIf="column.selected">
            <th scope="col">{{ column.header }}</th>
          </ng-container>
        </ng-container>
        <th scope="col">
          <button type="button">
            <i class="fas fa-ellipsis-v"></i>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of data">
        <tr>
          <ng-container *ngFor="let column of columns">
            <ng-container *ngIf="column.selected">
              <td [ngStyle]="column.style">
                <span *ngIf="column.dataType === 'currency'">R$</span>
                <span *ngIf="column.dataType === 'percentage'"><i class="fas fa-chart-line"></i></span>
                {{ item[column.field] }}
                <span *ngIf="column.dataType === 'percentage'">%</span>
              </td>
            </ng-container>
          </ng-container>
          <td></td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<div class="options">
  <h6>Linhas por página</h6>
  <ul>
    <li>
      <input type="checkbox" name="pattern" checked /> Padrão
    </li>
    <li>
      <input type="checkbox" name="fifty-lines" /> 50 linhas
    </li>
  </ul>
  <h6>Colunas</h6>
  <ul>
    <ng-container *ngFor="let column of columns">
    <li>
        <input
          type="checkbox"
          [ngModel]="column.selected"
          name="{{ column.field }}-selected"
          (ngModelChange)="column.selected = $event; onSelectedChange()"
        />
        {{ column.header }}
      </li>
    </ng-container>
  </ul>
</div>
